/* General Layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: rgb(54, 58, 70);
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.right {
  float: right;
}
.red {
  color: hsl(2, 92%, 51%) !important;
}
.red-focus:focus {
  border: 1px solid #hsl(2, 92%, 51%) !important;
}

/* Upper Section of teh page which contain the graph */

.top {
  height: 75vh;
  background-image: linear-gradient(#ffd166, #ffd166),
    url("back.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.budget {
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkslategrey;
  float: left;
  margin-left: 400px;
  margin-right: -10rem;
  margin-top: 200px;
}

.budget__title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.budget__value {
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
  padding: 12px;
  text-transform: uppercase;
}

.budget__income {
  margin-bottom: 10px;
  background-color: #2d7eb4ef;
}

.budget__expenses {
  background-color: #dd6662;
}

.budget__income--text,
.budget__expenses--text {
  float: left;
  font-size: 13px;
  color: #444;
  margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
  letter-spacing: 1px;
  float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
  float: left;
  width: 34px;
  font-size: 11px;
  padding: 3px 0;
  margin-left: 10px;
}

.budget__expenses--percentage {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 3px;
}

/* Lower Section of the page containing the form and interactivity */

/***** FORM *****/
.add {
  padding: 14px;
  border-bottom: 1px solid #e7e7e7;
  background-color: rgb(230, 247, 242);
}

.add__container {
  margin: 10px;
  text-align: center;
}

.add__type {
  width: 95px;
  border: 1px solid rgb(198, 226, 218);
  border-radius: 5px;
  height: 44px;
  font-size: 18px;
  color: darkslategrey;
  background-color: white;
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
}

.add__description,
.add__value {
  border: 1px solid rgb(198, 226, 218);
  background-color: white;
  color: darkslategrey;
  font-family: Open Sans;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}

.add__description {
  width: 400px;
}
.add__value {
  width: 100px;
}

.add__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: #2d7eb4ef;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}

.add__btn:active {
  transform: translateY(2px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border: 1px solid #28b9b5;
}

.add__btn:focus {
  outline: none;
}

/***** LISTS *****/
.container {
  width: 1000px;
  margin: 60px auto;
}

.income {
  float: left;
  width: 475px;
}

.expenses {
  float: right;
  width: 475px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.income__title {
  color: #2d7eb4ef;
}
.expenses__title {
  color: #dd6662;
}

.item {
  padding: 13px;
  border-bottom: 1px solid #e7e7e7;
}

.item:first-child {
  border-top: 1px solid #e7e7e7;
}
.item:nth-child(even) {
  background-color: #f7f7f7;
}

.item__description {
  float: left;
}

.item__value {
  float: left;
  transition: transform 0.3s;
}

.item__percentage {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 11px;
  background-color: #ffdad9;
  padding: 3px;
  border-radius: 3px;
  width: 32px;
  text-align: center;
}

.income .item__value,
.income .item__delete--btn {
  color: #2d7eb4ef;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
  color: #dd6662;
}

.item__delete {
  float: left;
}

.item__delete--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateY(2px);
}

.item:hover .item__delete--btn {
  display: block;
}
.item:hover .item__value {
  transform: translateX(-20px);
}
.item:hover .item__percentage {
  transform: translateX(-20px);
}

.unpaid {
  background-color: #ffdad9 !important;
  cursor: pointer;
  color: #ff5049;
}

.unpaid .item__percentage {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.unpaid:hover .item__description {
  font-weight: 900;
}

.clear-button {
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0;
  background-color: rgb(119, 172, 136);
  padding: 12px;
  transition-duration: 0.4s;
  margin-bottom: 20px;
  border-radius: 8px;
}
.clear-button:hover {
    background-color: #888888;
    color: white;
  }

nav {
  margin-bottom: -0.7rem;
  margin-top: -0.8rem;
  background-color: darkslategrey;
}

nav a {
color:goldenrod;
font-size: 25px;
}

nav .navbar-brand {
color: goldenrod;
font-size: 30px;
font-weight: 1000;
}

footer {
  padding-top: 10px;
  height: 8vh;
  background-color: darkslategrey;
  color: goldenrod;
  text-align: center;
}

.piechart {
  float: right;
  margin-left: -20rem;
  margin-top: 60px;
  margin-right: 170px;
}

#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color:#2d7eb4ef;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}

#myBtn:hover {
background-color: #555;
}


* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 20px 25px;
  width: 100%;
  background-color: darkslategrey;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  background-color: darkslategrey;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background:  #ffd166;
  color: white !important
}